<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" data-framework="backbonejs">
    <head>
        <title>Dungeon Roll</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="dungeonroll.css" rel=stylesheet type="text/css">
    </head>
	<body>
            <div id="masthead">
                <h1>Dungeon Roll</h1>
            </div>
            
            <div id="statusArea">
                
            </div>
            
            <div id="playArea">
                <header id="header">
                        <h1>Dice</h1>
                        <span class="hello">
                                <label>Hello</label>
                        </span>
                        <div id="dice-area">
                        </div>
                </header>
                <div id="controls">
                        <button class="add" id="add-button">Add</button>
                        <button class="remove" id="remove-button">Remove</button>			
                </div>
            </div>
            
            <div id="logArea">
                
            </div>

		
            <script type="text/template" id="die-template">
                    <img class="whiteDie <%- face %>" src="<%- graphic %>"/>
            </script>

            <script src="jquery-2.1.0.js"></script>
            <script src="underscore.js"></script>
            <script src="backbone.js"></script>
            <script src="dungeonroll.js"></script>		
	</body>
</html>
